<ion-header>
  <ion-toolbar color="soft">
    <ion-buttons slot="end">
      <ion-button (click)="closeSelectMethod()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="soft">
    <div align="center">
      <h1>Hi !</h1>
      <br />
      <h3>{{ user.displayName }}</h3>
      <br />
      <p>Choose your method for reporting before we begin.</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" align="center">
  <ion-list *ngFor="let method of methods">
    <ion-item class="roundBox" color="primary" (click)="selectMethod(method)">
      <ion-label>
        <h2 style="text-align: center;">{{ method }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
