<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Report Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openReport()">
        <ion-icon name="eye"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card-header>Title :</ion-card-header>
        <ion-card-subtitle class="ion-padding-horizontal">{{
          report.title
        }}</ion-card-subtitle>
        <ion-card-header>Submit on :</ion-card-header>
        <ion-card-subtitle class="ion-padding-horizontal">{{
          report.lastEdit
        }}</ion-card-subtitle>
        <br />
      </ion-col>
      <ion-col>
        <canvas id="myChart" width="200" height="200"></canvas>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-card-title class="ion-padding"
        >Total Marks : {{ evaluation.totalMark }} /
        {{ evaluation.fullMark }}</ion-card-title
      >
    </ion-row>
  </ion-grid>
  <div></div>

  <ion-item-divider mode="ios">
    <ion-card-header>Mark Details :</ion-card-header>
  </ion-item-divider>
  <ion-item-divider
    mode="ios"
    *ngFor="let item of evaluation.items; let i = index"
    style="padding-left: 40px; padding-right: 40px;"
  >
    <div *ngFor="let color of backgroundColor; let j = index">
      <ion-item-divider mode="ios" *ngIf="j == i">
        <canvas
          [ngStyle]="{ background: color }"
          width="20"
          height="20"
        ></canvas><span style="display:inline-block; width:10px;"></span>
        <ion-label>{{ item.id }}. {{ item.text }}</ion-label>
      </ion-item-divider>
    </div>
  </ion-item-divider>
</ion-content>
