<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="padding-left: 15px;">Text Editor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeTextEditor()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editorForm">
    <div class="form-group">
      <label for="editor"></label>
      <quill-editor formControlName="editor"></quill-editor>
    </div>
  </form>
</ion-content>
<ion-tab-bar slot="bottom" color="primary">
  <ion-tab-button (click)="onSubmit()">
    <ion-label>SUBMIT</ion-label>
  </ion-tab-button>
</ion-tab-bar>
