:host {
  --ion-color-primary: #ffce00;
  --ion-color-primary-rgb: 255, 206, 0;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #e0b500;
  --ion-color-primary-tint: #ffd31a;
  --ion-font-family: "OpenSans";

  ion-header {
    background: #60166c;
  }

  .my-toolbar {
    --background: #60166c;
    color: #ffffff;
  }

  ion-toolbar {
    width: 300px;
  }

  ion-item {
    width: 300px;
    --background: transparent;
  }

  ion-button {
    width: 300px;
  }

  ion-label {
    font-family: "OpenSans";
    // font-size: 12px;
  }

  h1 {
    font-family: "Orbitron";
    font-weight: bold;
    color: #60166c;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    height: auto;
    text-decoration: none;
    font-size: 10vw;
    // background-color: #666;
  }

  p {
    font-family: "OpenSans";
    font-size: 9px;
  }

  hr {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
